In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [6]:
produtos = pd.read_csv('dataset/produtos.csv', sep = ',')
clientes = pd.read_csv('dataset/clientes.csv', sep = ',')
vendas = pd.read_csv('dataset/vendas.csv', sep = ',')

## Limpeza de dados

In [26]:
produtos.head()

   ProdutoID               Nome    Categoria         Preço
0      14835          TechBoost  Categoria C  665,00 reais
1      25397          VitaFresh  Categoria A        R$ 966
2      11439          OndaLimpa  Categoria C        R$ 853
3      30120  GuardaInteligente  Categoria A  163,00 reais
4      55827             FitPro  Categoria A        R$ 660

In [ ]:
produtos['Categoria'].unique()

array(['C', 'Categoria A', 'A_', 'b', 'CATEGORIA LETRA D', 'P', 'E'],
      dtype=object)

In [22]:
produtos.loc[:, 'Categoria']= produtos['Categoria'].replace({'A_': 'Categoria A', 'CATEGORIA LETRA D': 'Categoria D', 'A': 'Categoria A', 'C': 'Categoria C', 'b': 'Categoria B', 'E': 'Categoria E', 'P': 'Categoria P'})

In [23]:
produtos['Categoria'].unique()

array(['Categoria C', 'Categoria A', 'Categoria B', 'Categoria D',
       'Categoria P', 'Categoria E'], dtype=object)

In [27]:
produtos['Preço'].unique()

array(['665,00 reais', 'R$ 966', 'R$ 853', '163,00 reais', 'R$ 660',
       'R$ 673', '929,00 reais', '193,00 reais', '342,00 reais', 'R$ 196',
       '539,00 reais', '582,00 reais', '814,00 reais', '162,00',
       '596,00 reais', 'R$ 471', '386,00', '606,00 reais', 'R$ 999',
       '696,00 reais', 'R$ 904', '798,00 reais'], dtype=object)

In [34]:
def convert_preco(preco):
    return float(preco.replace('R$ ', '').replace(',00 reais', ''))

In [36]:
produtos.loc[:, 'Preço']= produtos['Preço'].apply(lambda x: convert_preco(x))

ValueError: could not convert string to float: '162,00'

In [32]:
produtos.head()

   ProdutoID               Nome    Categoria         Preço
0      14835          TechBoost  Categoria C  665,00 reais
1      25397          VitaFresh  Categoria A        R$ 966
2      11439          OndaLimpa  Categoria C        R$ 853
3      30120  GuardaInteligente  Categoria A  163,00 reais
4      55827             FitPro  Categoria A        R$ 660